<%- include("../partials/head.ejs") %>
<!-- <body class="bg-gray-100 flex items-center justify-center h-screen"></body> -->
<body class="body">
 <%- include("../partials/navigation.ejs") %>
<main>
  <div class="text-center">
      <h1 class="text-4xl font-bold mb-4 uppercase">Page not exist. 404</h1>
      <!-- <p class="font-bold ">To fully page experience 
        <br/>
        you must <a class="underline decoration-2" href="#">register</a>  or <a class="underline decoration-2" href="#">login</a> to the page
      </p> -->
    </div>

</main>  
</body>


<%- include("../partials/footer.ejs") %>