<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/tailwind.css" rel="stylesheet" />
    <title>Main page</title>
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <h1 class="text-4xl font-bold text-blue-600"><%= locals.message %></h1>
  </body>
</html>
