<div id="item_<%= id %>" class="item-options hidden absolute -left-10 bg-neutral-50 text-black rounded-lg py-2 z-5">
    <div class="flex-col gap-3">
         <a href="#" class="font-bold pl-4 pr-4">download</a>
        <a href="/file/<%= id %>/update" class="font-bold pl-4 pr-4">update</a>
        <a href="/file/<%= id %>/delete" class="font-bold pl-4 pr-4 text-red-800">delete</a>
    </div>
</div>