<nav class="nav">
    <h2 class="nav_logo">file app</h2>
    <div class="nav_menu">
        <a class="nav_link" href="#">login</a>
        <a class="nav_link" href="/auth/register">register</a>
    </div>
</nav>