<div class="sidebar">
  <ul class="sidebar-menu">
    <li class="sidebar-item">
      <a href="/user/dashboard">user dashboard</a>
    </li>
    <li class="sidebar-item">
      <a href="/folder/create">create folder</a>
    </li>
    <li class="sidebar-item">
      <a href="/user/folders">show all folders</a>
    </li>
    <li class="sidebar-item">
      <a href="/user/files">show all files</a>
    </li>
    <li class="sidebar-item">
      <a href="/user/settings">settings</a>
    </li>
  </ul>
</div>